In [2]:
print("Using Pyspark SQL")
print("")

from pyspark.sql import HiveContext
hiveCtx = HiveContext(sc)

from pyspark.sql import SparkSession  
scSpark = SparkSession(sc)

fakeData = scSpark.read.csv("Fake_data.csv", header=True, inferSchema = True)
fakeData.registerTempTable("fakeData")

print("#1) Find birth country which has highest amount of people")

hiveCtx.sql("SELECT Birth_Country, COUNT(Birth_Country) \
            FROM fakeData \
            GROUP BY Birth_Country \
            ORDER BY count(Birth_Country) DESC").show(1)

print("#2) Find average income of people who are born in united states of america")

hiveCtx.sql("SELECT Birth_Country, ROUND(AVG(Income),0) as Avg_Income \
            FROM fakeData \
            WHERE Birth_Country = 'United States of America' \
            GROUP BY Birth_Country").show()

print("#3) How many people has income over 100,000 but their loan is not approved.")

hiveCtx.sql("SELECT Loan_Approved, COUNT(Loan_Approved) as Cnt_Loan_Approved_Ovr_100k \
            FROM fakeData \
            WHERE Income > 100000 AND Loan_Approved = false \
            GROUP BY Loan_Approved").show()

print("#4) Find top 10 people with highest income in United States of america. (Print their names, income and jobs)")

hiveCtx.sql("SELECT First_Name, Last_name, Income, Job \
            FROM fakeData \
            WHERE Birth_Country = 'United States of America' \
            ORDER BY Income DESC \
            LIMIT 10").show()

print("#5) How many number of distinct jobs are there?")

hiveCtx.sql("SELECT COUNT(DISTINCT Job) as Cnt_Distinct_Jobs \
            FROM fakeData").show()

print("#6) How many writers earn less than 100,000?")

hiveCtx.sql("SELECT COUNT(Job) as Cnt_Writers_Under_100k \
            FROM fakeData \
            WHERE Job = 'Writer' AND Income < 100000").show()

Using Pyspark SQL

#1) Find birth country which has highest amount of people
+-------------+--------------------+
|Birth_Country|count(Birth_Country)|
+-------------+--------------------+
|        Korea|                  91|
+-------------+--------------------+
only showing top 1 row

#2) Find average income of people who are born in united states of america
+--------------------+----------+
|       Birth_Country|Avg_Income|
+--------------------+----------+
|United States of ...|  208760.0|
+--------------------+----------+

#3) How many people has income over 100,000 but their loan is not approved.
+-------------+--------------------------+
|Loan_Approved|Cnt_Loan_Approved_Ovr_100k|
+-------------+--------------------------+
|        false|                      4009|
+-------------+--------------------------+

#4) Find top 10 people with highest income in United States of america. (Print their names, income and jobs)
+----------+---------+------+--------------------+
|First_Name|Last_name|Income|                 Job|
+----------+---------+------+--------------------+
|    Alyssa|   Miller|482588|Amenity horticult...|
|    Hunter|    Walls|468946|Psychologist, pri...|
|      Rose|Henderson|426115|Adult guidance wo...|
|  Danielle|  Leonard|389810|Furniture conserv...|
|     Terry|    Klein|380410|       Meteorologist|
|     Cindy|   Newton|370322|Research scientis...|
|     Scott| Mitchell|368913|       Art therapist|
|   Christy| Sandoval|355150|      Engineer, land|
|     Kelly| Reynolds|341448|           Press sub|
|  Kristina|    Smith|338804|           Herbalist|
+----------+---------+------+--------------------+

#5) How many number of distinct jobs are there?
+-----------------+
|Cnt_Distinct_Jobs|
+-----------------+
|              639|
+-----------------+

#6) How many writers earn less than 100,000?
+----------------------+
|Cnt_Writers_Under_100k|
+----------------------+
|                     5|
+----------------------+